PORT=4000
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"
MONGODB_URI="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/DATABASE?retryWrites=true&w=majority"
JWT_SECRET="your_very_secret_key_here"
ERP_MIRROR_DB_URL="mysql://USER:PASSWORD@HOST:PORT/noun_erp_mirror"
NODE_ENV=development
