PassengerAppRoot /home/u398189227/domains/lightpink-lark-246190.hostingersite.com/public_html
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs22/root/bin/node
PassengerStartupFile /home/u398189227/domains/lightpink-lark-246190.hostingersite.com/public_html/src/server.js
PassengerBaseURI /

<Files .env>
Order allow,deny
Deny from all
</Files>
